<div class="photoimages" data-pswp-uid="1">
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_0" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/263-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_1" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/264-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_2" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/265-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_3" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/266-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_4" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/267-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_5" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/268-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_6" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/269-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_7" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/270-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_8" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/271-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_9" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/272-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_10" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/273-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_11" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/274-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_12" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/275-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_13" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/276-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_14" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/277-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_15" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/278-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_16" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/279-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_17" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/280-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_18" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/281-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_19" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/282-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_20" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/283-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        <a href="" target="_blank" data-size="1500x900">
                            <div class="col-xs-6 col-md-3 cadaFoto">
                                <p class="tituloAlbum">&nbsp;</p>
                                <div class="row">
                                    <img id="paginas_rptCadaFoto_imgAlbumCapa_21" class="img-responsive" src="https://www.barbaravital.com.br/painel/figuras/imagens/284-524.webp">
                                </div>
                            </div>
                        </a>
                    
                        </div>
